* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #dcdcdc;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 55px;
    background-color: #dcdcdc;
}

.logo {
    font-weight: bold;
    font-size: 50px;
    font-family: 'Arial Black', sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: flex;
    align-items: center;
}

.nav-links li a,
.nav-button {
    text-decoration: none;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
    font-weight: 500;
}

/* CONTENEDOR GENERAL DE LA PÁGINA */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* SECCIÓN PRINCIPAL */
.home-container {
    background-image: url('../imagen/c.png');
    background-size: 900px 900px;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
    flex: 1;
    flex-wrap: wrap;
}

/* TEXTO */
.text-content {
    max-width: 45%;
    padding-right: 30px;
}

.text-content h1 {
    font-size: 54px;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 25px;
    font-family: 'Impact', sans-serif;
    text-transform: lowercase;
}

.text-content p {
    font-size: 15px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 35px;
}

/* FOOTER */
.home-container-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}




/* INICIO DE LA LOCURA */


/* Estilos específicos para la página de registro de la API */

.Apiregistro-page .navbar {
    background-color: #586068;
    color: white;
    padding: 5px 20px;
    font-size: 0.9rem;
}

.Apiregistro-page .nav-button {
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
}

.Apiregistro-page .nav-button:hover {
    background-color: white;
    color: #343a40;
}

.Apiregistro-page .navbar .logo img {
    height: 80px;
}

.Apiregistro-page .nav-links {
    display: none;
}




/* estilos de Apilogin-page */


.Apilogin-page .navbar {
    background-color: #586068;
    color: white;
    padding: 5px 20px;
    font-size: 0.9rem;
}

.Apilogin-page .nav-button {
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
}

.Apilogin-page .nav-button:hover {
    background-color: white;
    color: #343a40;
}

.Apilogin-page .navbar .logo img {
    height: 80px;
}

.Apilogin-page .nav-links {
    display: none;
}

